*{
//	border:2px dashed black;
}

body{
	background-color:orange;
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

#wrapper{
//	background-color:green;
}

#header{
        background-color:blue;
	position:absolute;
	height:20px;
	top:0;
	left:0;
	width:100%;
	//display:none;
}

#home{
	top:20px;
        background-color:yellow;
	position:absolute;
	width:60%;
	bottom:20px;
	overflow:scroll;
}

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

#footer{
        background-color:gray;
	position:absolute;
	bottom:0;
	width:60%;
}

