body{
	background-color:$background-color;
	font-family: 'Indie Flower', cursive;
}

.icon{
	width:7%;
	height:auto;
}

a{
	text-decoration:none;
}

.site-title{
	font-family: 'Pacifico', cursive;
	text-decoration:none;
	color:black;
	font-size:51px;
}

.trigger{
	float:right;
	margin-right:20%;
	margin-top:-43px;
}

a.page-link{

}

.site-header{
	margin-left:16%;
	padding:20px 0 20px 0;
}

.post-list div{
	padding: 3px 4%;
	background-color:white;
	width:27%;
}

.post-link div:hover{
	background-color:rgb(87, 86, 86);
	color:white;
}

.post-link{
	text-decoration:none;
	margin-left:0px;
	color:black;
}

.left{
	float:left;
	margin-left:15%;
}

.right{
	float:right;
	margin-right:15%;
}

ul{
	list-style:none;
	padding:0;
}

footer{
	text-align:center;
}

.site-footer{
	float:left;
	margin-left:16%;
	width:68%;
}



@include media-query($on-palm){

	.site-header{
		margin-left:initial;
	}

	.icon{
		width:15%;
	}

	.site-title{
		font-family: 'Pacifico', cursive;
		text-decoration:none;
		color:black;
		font-size:40px;
	}
	.trigger{
		margin-right:3%;
	}

	.post-list div{
		margin-bottom: 5px;
		width: initial;
	}

	.post-list{
		width: initial;
		margin-left: initial;
		position:initial;
	}

	.site-footer{
		margin-left:3%;
		width:94%;
	}
}
