body{
	background-color:$background-color;
}

.post-list li{
	padding: 3px 4%;
	background-color:white;
	margin-bottom: 5px;
}

.post-list{
	list-style:none;
	padding:0px;
}

.post-link{
	text-decoration:none;
	color:black;
}

.post-link li:hover{
	background-color:rgb(87, 86, 86);
	color:white;
}
