body{
	background-color:$background-color;
	font-family: 'Indie Flower', cursive;
}

.post-list div{
	padding: 3px 4%;
	background-color:white;
	width:25%;
	position:absolute;
	font-family:arial;
}

.post-link div:hover{
	background-color:rgb(87, 86, 86);
	color:white;
}

.post-list{
	padding:0px;
	margin-left: 15%;
	width:69%;
}
.post-link{
	text-decoration:none;
	color:black;
}

@include media-query($on-palm){
	.post-list div{
		margin-bottom: 5px;
		width: initial;
	}

	.post-list{
		width: initial;
		margin-left: initial;
		position:initial;
	}
}
