.post{
	width:62%;
	padding:14px 4%;
	margin-left:15%;
	background-color:white;
}

pre{
	overflow-x:auto;
	background-color:gainsboro;
	padding: 10px 2%;
}

@include media-query($on-palm){
	.post{
		width:initial;
		margin-left:0px;
	}
}
