<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

		<script type="text/javascript" src="/lib/jquery.min.js"></script>
		<script type='text/javascript' src='/css/js/style_handler.js'></script>
		<script type='text/javascript' id='match'>
			//console.log(document.getElementById('match').parentNode.childNodes[3].childNodes[1].clientHeight);
			//console.log(document.getElementById('match').parentNode.childNodes[3].childNodes[1]);
			//post_list_place();
		</script>

  </body>

</html>
