<!DOCTYPE html>
	<html>
		{% include head.html %}
		<body>
			<div id=wrapper>
				<div id="header">
					<h1 class="title"><a href="/">{{ site.name }}</a></h1>
            				<a class="extra" href="/">home</a>
            				<img  src="/Avatar/me.jpeg" class="avatar" />
				</div>
                        		{{ content }}
				<div id="footer" class="footer">
					<div class="contact">
              					<p>
                					Victor Rivas<br />
                					Programmer<br />
                					vctr90w@gmail.com
              					</p>
            				</div>
            				<div class="contact" id="links">
              					<p>
                					<a href="https://github.com/vctr90">github.com/vctr90</a><br />
                					<a href="https://twitter.com/vctr90">twitter.com/vctr90</a><br />
              					</p>
            				</div>
                                </div>
			</div>
		</body>
	</html>
